<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="filter-container">
        <label for="expiry-start-date">FILING EXPIRY START DATE</label><br>
        <input id="expiry-start-date" type="date" [(ngModel)]="filingExpiryStartDate">
      </div>
      <div class="filter-container">
        <label for="expiry-end-date">FILING EXPIRY END DATE</label><br>
        <input id="expiry-end-date" type="date" [(ngModel)]="filingExpiryEndDate">
      </div>
    </div>

    <div class="col-12 mt-3">
      <ag-grid-angular
        class="ag-theme-alpine"
        (gridReady)="onGridReady($event)"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [suppressMenuHide]="true"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
