<div class="container">
  <h2 class="header text-center">WORK QUEUE</h2>
  <div class="body" *ngFor="let data of formData">
    <div class="d-flex justify-content-between">NAME : <input type="text" [(ngModel)]="data.Name"></div>
    <div class="d-flex justify-content-between mt-4">DESCRIPTION : <input type="text" [(ngModel)]="data.Description">
    </div>

    <div class="roles mt-4">
      <h5>Roles</h5>
      <div class="inner-body d-flex">
        <div class="available">
          <h6>Available</h6>
          <div class="data-container">
            <div (click)="onRoleClicked('available', role)" *ngFor="let role of data.VisibleForRoles; let $rolesIndex = index">
              <span>{{role}}</span>
            </div>
          </div>
        </div>
        <div class="selected">
          <h6>Selected</h6>
          <div class="data-container">
            <div (click)="onRoleClicked('selected', role)" *ngFor="let role of selectedRoles; let $rolesIndex = index">
              <span>{{role}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="collections mt-4">
      <h5>Collections</h5>
      <div class="inner-body d-flex">
        <div class="available">
          <h6>Available</h6>
          <div class="data-container">
            <div (click)="onCollectionClicked('available', collection)" *ngFor="let collection of data.Collections">
              <span>{{collection}}</span>
            </div>
          </div>
        </div>
        <div class="selected">
          <h6>Selected</h6>
          <div class="data-container">
            <div (click)="onCollectionClicked('selected', collection)" *ngFor="let collection of selectedCollections">
              <span>{{collection}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="fields mt-4">
      <h5>Fields</h5>
      <div class="inner-body d-flex">
        <div class="available">
          <h6>Available Fields</h6>
          <div class="data-container">
            <div (click)="onFieldClicked('available', field.Field)" *ngFor="let field of data.Fields">
              <span>{{field.Field}}</span>
            </div>
          </div>
        </div>
        <div class="selected">
          <h6>Selected Fields</h6>
          <div class="data-container">
            <div (click)="onFieldClicked('selected', field)" *ngFor="let field of this.selectedFields">
              <span>{{field}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="actions mt-4">
      <h5>Actions</h5>
      <div class="inner-body d-flex">
        <div class="available">
          <h6>Available</h6>
          <div class="data-container">
            <div (click)="onActionClicked('available', action.Action)" *ngFor="let action of data.Actions">
              <span>{{action.Action}}</span>
            </div>
          </div>
        </div>
        <div class="selected">
          <h6>Selected</h6>
          <div class="data-container">
            <div (click)="onActionClicked('selected', action)" *ngFor="let action of selectedActions">
              <span>{{action}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="submit-btn mt-4">
      <button>SUBMIT</button>
    </div>
  </div>
</div>
