<div class="container-fluid">
  <div class="row">
    <div class="col-12 nav-bar p-0">
      <img class="menu" src="assets/icons/menu.svg" alt="menu"/>
      <img class="logo" src="https://ehrweb.naiacorp.net/images/CloudCraft.png" alt="CloudCraft">
      <span class="nav-item text-decoration-underline">Billing</span>
      <img class="breadcrumb_icon" src="assets/icons/chevron_right.svg" alt=""/>
      <span class="nav-item">Timely Filing Work Queue</span>
      <span class="nav-item position-absolute end-0">Maintenance</span>
    </div>
    <div class="col-12 app-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
