$nav-height: 35px;

.nav-bar {
  background-color: #454546;
  color: white;
  font-size: 0.8rem;
  height: $nav-height;
  display: flex;
  align-items: center;

  .menu {
    background-color: #3572C7;
    height: 100%;
  }

  .logo {
    height: 100%;
  }

  .breadcrumb_icon {
    height: 60%;
  }

  .nav-item {
    cursor: pointer;
  }
}

.app-container {
  height: calc(100vh - $nav-height);
  padding: 10px 5px;
  background-color: #F6F7FC;
}
